@model ListViewModel<WorkDto>

@{
    Layout = Context.Request.Headers["HX-Request"] == "true" ? null : "_Layout";
    var isCollapsed = Context.Request.Cookies["Collapsed"] ?? "true";
}

<div class="container">
    <div class="row">
        <div class="page-header @((isCollapsed == "true") ? "collapsed" : "")">
            <div class="header-main">
                <div class="header-content">
                    <h1><i class="fa-solid fa-briefcase"></i> Görevler</h1>
                    @if (User.IsInRole("Admin"))
                    {
                        <p>Stajyer görevlerini görüntüleyin ve yönetin.</p>
                    }
                    else
                    {
                        <p>Görevlerinizi görüntüleyin ve yönetin.</p>
                    }
                </div>

                <div class="header-actions">
                    @if (User.IsInRole("Admin"))
                    {
                        <a href="/Works/AddWork" hx-get="/Works/AddWork" hx-target="#content" hx-on:click="window.isSidebarClick=true;" hx-push-url="true" class="btn btn-user-add">
                            <i class="fa-solid fa-plus"></i>
                            Yeni Görev Ekle
                        </a>
                    }
                </div>
            </div>

            <div class="header-toggle-wrapper">
                <button class="btn-toggle-header" hx-on:click="toggleHeaderCollapse(event)" title="Küçült/Genişlet">
                    <i class="fas fa-chevron-up"></i>
                </button>
            </div>
        </div>
    </div>

    @if (Model?.TotalCount == 0)
    {
        <div class="row">
            <div class="card card-before d-flex text-center py-5">
                <div class="card-body">
                    <div class="no-results-icon"><i class="fa-solid fa-xmark"></i></div>
                    <h2 class="no-results-title">Görev Bulunamadı</h2>
                    <p class="no-results-text">Henüz görev eklenmemiş.</p>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="scroll-target"></div>
        <div class="row gy-5 gx-4">
            <partial name="Small/_WorksGridView" />
        </div>
    }

</div>


<div id="imageModal" class="image-modal" onclick="closeModal()">
    <span class="close-modal" onclick="closeModal()">&times;</span>
    <img id="modalImage" class="modal-content-img" src="" alt="Büyük görsel">
</div>

<script src="~/js/work.js" asp-append-version="true"></script>