@{
    var isCollapsed = Context.Request.Cookies["Collapsed"] ?? "true";
}

<div class="container">
    <div class="row">
        <div class="page-header @((isCollapsed == "true") ? "collapsed" : "")">
            <div class="header-main">
                <div class="header-content">
                    <h1><i class="fas fa-home"></i> Anasayfa</h1>
                    <p>Hoş geldiniz, @User.FindFirst("FullName")?.Value! Staj işlemlerinizi kolayca yönetin ve takip edin.</p>
                </div>
            </div>

            <div class="header-toggle-wrapper">
                <button class="btn-toggle-header" hx-on:click="toggleHeaderCollapse(event)" title="Küçült/Genişlet">
                    <i class="fas fa-chevron-up"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col col-6" id="userdetails">
            @await Component.InvokeAsync("UserDetails")
        </div>
        <div class="col col-6">
            @await Component.InvokeAsync("UserActivityChart")
        </div>
    </div>
    <div class="row g-4 mb-4">
        <div class="col col-md-4">
            @await Component.InvokeAsync("UserReportsStats")
        </div>
        <div class="col col-md-4">
            @await Component.InvokeAsync("UserWorkStats")
        </div>
        <div class="col col-md-4">
            @await Component.InvokeAsync("UserMessagesStats")
        </div>
    </div>
    <div class="row g-3 mb-4">
        <div class="col col-md-3">
            <a href="/Reports/AddReport" hx-get="/Reports/AddReport" hx-on:click="window.isSidebarClick=true;" hx-target="#content" hx-push-url="true">
                <div class="card action-card">
                    <div class="card-body d-flex flex-column justify-content-center align-items-center text-center">
                        <div class="card-icon">
                            <i class="fa-solid fa-file-pen"></i>
                        </div>
                        <h3 class="action-card-title mt-4">Yeni Rapor Yaz</h3>
                        <p class="action-card-p">Staj için günlük raporunuzu yazın</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col col-md-3">
            <a href="/Messages/Index" hx-get="/Messages/Index" hx-on:click="window.isSidebarClick=true;" hx-target="#content" hx-push-url="true">
                <div class="card action-card">
                    <div class="card-body d-flex flex-column justify-content-center align-items-center text-center">
                        <div class="card-icon">
                            <i class="fas fa-message"></i>
                        </div>
                        <h3 class="action-card-title mt-4">Mesajlarını görüntüle</h3>
                        <p class="action-card-p">Sistemde bekleyen mesajlarınızı inceleyin</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col col-md-3">
            <a href="/Calendar/Index" hx-get="/Calendar/Index" hx-on:click="window.isSidebarClick=true;" hx-target="#content" hx-push-url="true">
                <div class="card action-card">
                    <div class="card-body d-flex flex-column justify-content-center align-items-center text-center">
                        <div class="card-icon">
                            <i class="fa-solid fa-calendar-days"></i>
                        </div>
                        <h3 class="action-card-title mt-4">Etkinlikleri görüntüleyin</h3>
                        <p class="action-card-p">Takvimdeki etkinlikleri <br />inceleyin</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col col-md-3">
            <a href="/Settings/Index" hx-get="/Settings/Index" hx-on:click="window.isSidebarClick=true;" hx-target="#content" hx-push-url="true">
                <div class="card action-card">
                    <div class="card-body d-flex flex-column justify-content-center align-items-center text-center">
                        <div class="card-icon">
                            <i class="fas fa-cog"></i>
                        </div>
                        <h3 class="action-card-title mt-4">Sistem Ayarları</h3>
                        <p class="action-card-p">Otomasyon ayarlarınızı düzenleyin</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

