<nav class="navbar navbar-expand-lg navbar-dark custom-navbar shadow-sm sticky-top">
    <div class="container-fluid">
        <a class="ps-4 navbar-brand ajax-link fw-bold text-white d-flex align-items-center" asp-action="Index">
            <div class="brand-logo">
                <i class="fas fa-graduation-cap"></i>

            </div>
            <h4 class="mx-2">Stajyer Portal</h4>
        </a>

        <div class="d-flex align-items-center pe-5">
            @if (User?.Identity?.IsAuthenticated == true)
            {
                <a href="/Messages/Index" hx-get="/Messages/Index" title="Bildirimler" class="nav-link text-white nav-icon-link position-relative me-2" hx-target="#content" hx-push-url="true">
                    <i class="fas fa-envelope"></i>
                    <span class="position-absolute start-100 translate-middle badge rounded-pill bg-danger notification-badge">@await Component.InvokeAsync("MessagesCount")</span>
                </a>
            }

            <div class="nav-item">
                <div class="dropdown user-dropdown">
                    <a class="nav-link dropdown-toggle text-white fw-semibold d-flex align-items-center"
                       id="navbarDropdown"
                       role="button"
                       aria-expanded="false"
                       hx-on:click="dropdownClick(event);">
                        <div class="avatar-wrapper mx-2">
                            <img src="/images/@await Component.InvokeAsync("NavbarAvatar")"
                                 alt="Avatar" class="rounded-circle" width="32" height="32">
                        </div>
                        <span class="d-none d-lg-inline">@User?.FindFirst("FullName")?.Value</span>
                    </a>

                    <div class="dropdown-menu user-dropdown-menu" aria-labelledby="navbarDropdown">
                        <div class="user-info p-3 text-center">
                            <div class="avatar-lg mx-auto mb-3">
                                <img src="/images/@await Component.InvokeAsync("NavbarAvatar")" alt="Avatar" class="rounded-circle img-thumbnail">
                            </div>
                            <h6 class="mb-0">Kullanıcı No: @User?.Identity?.Name</h6>
                            <small class="text-muted">@(User!.IsInRole("Admin") ? "Admin" : "Stajyer")</small>
                        </div>
                        <div class="dropdown-divider"></div>
                        <div class="dropdown-items-wrapper">
                            <a href="/Home/Index" class="dropdown-item" hx-on:click="hideDropdown();" hx-get="/Home/Index" hx-target="#indexSection" hx-push-url="true">
                                <i class="fa-solid fa-user me-2"></i> Profilim
                            </a>
                            <a href="/Settings/Index" class="dropdown-item" hx-on:click="hideDropdown();" hx-get="/Settings/Index" hx-target="#content" hx-push-url="true">
                                <i class="fa-solid fa-gear me-2"></i> Ayarlar
                            </a>
                            <div class="dropdown-divider"></div>
                            <form method="post" asp-controller="Account" asp-action="Logout">
                                <button class="dropdown-item logout-item"><i class="fa-solid fa-right-from-bracket me-2"></i> Çıkış Yap</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <button class="navbar-toggler border-0 d-lg-none ms-2" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</nav>