@model LoginModel

@{
	ViewData["Title"] = "Giriş Yap";
	Layout = null;
}

<!DOCTYPE html>
<html lang="tr">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Stajyer Y. Otom - @ViewData["Title"]</title>
	<link rel="stylesheet" asp-append-version="true" href="~/lib/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" asp-append-version="true" href="~/css/site.css">
	<link rel="stylesheet" href="~/css/navbar.css" asp-append-version="true">
	<link rel="stylesheet" asp-append-version="true" href="~/css/login.css" />
	<link rel="stylesheet" asp-append-version="true" href="~/lib/font-awesome/css/all.css">
	<script asp-append-version="true" src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js"></script>
	<link rel="stylesheet" asp-append-version="true" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
	<link rel="stylesheet" asp-append-version="true" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.7.0/nouislider.min.css">
	<script asp-append-version="true" src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.7.0/nouislider.min.js"></script>
	<script asp-append-version="true" src="~/lib/jquery/jquery.min.js"></script>
	<script asp-append-version="true" src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script asp-append-version="true" src="~/js/login.js"></script>
	<script asp-append-version="true" src="~/js/site.js"></script>
</head>
<body>
<div class="login-container">
	<h2 class="login-section-title my-5"><i class="fa-solid fa-gears"></i>Stajyer Yönetim Otomasyonu</h2>
	<div class="row justify-content-center">
		<div class="col-lg-4 auth-container">
			<div class="card login-card login-card-hover shadow-sm">
				<div class="login-card-header d-flex" id="authTabs" role="tablist">
					<button class="nav-link p-3 nav-btn active" id="loginTabBtn" data-bs-toggle="tab" data-bs-target="#loginTabPane" type="button">
						Giriş Yap
					</button>
				</div>
				<div class="tab-content" id="authTabContent">
					<div class="tab-pane fade show active p-3" id="loginTabPane" role="tabpanel">
						<div id="login-errors" class="text-danger validation-summary-errors" asp-validation-summary="All"></div>
						<form method="post" asp-action="Login" id="loginForm">
							@Html.AntiForgeryToken()
							<div class="mt-4">
								<label asp-for="Name" class="form-label fw-bold"><i class="fa-solid fa-user me-2"></i>Kullanıcı No</label>
								<input asp-for="Name" class="form-control" required />
								<span asp-validation-for="Name" class="text-danger"></span>
							</div>
							<div class="mt-3 position-relative">
								<label asp-for="Password" class="form-label fw-bold"><i class="fa-solid fa-lock me-2"></i>Şifre</label>
								<div class="input-group">
									<input type="password" asp-for="Password" class="form-control" id="login-password" required />
									<span class="input-group-text" id="toggle-login-password" style="cursor:pointer;">
										<i class="fa-solid fa-eye" id="login-eye-icon"></i>
									</span>
								</div>
								<span asp-validation-for="Password" class="text-danger"></span>
							</div>

							<div class="mt-4 d-flex align-items-center justify-content-between">
								<div class="form-check mb-0">
									<input type="checkbox" asp-for="RememberMe" class="form-check-input" />
									<label asp-for="RememberMe" class="form-check-label"><i class="fa-solid fa-user-check me-1"></i>Beni Hatırla</label>
								</div>
								<a href="/Account/ForgotPassword" class="text-decoration-none"><i class="fa-solid fa-key me-1"></i>Şifremi Unuttum</a>
							</div>
							<button type="submit" class="btn login-submit-btn mt-4 w-100 mb-3">
								<i class="fa-solid fa-right-to-bracket me-2"></i>GİRİŞ YAP
							</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>