@model IEnumerable<MessageDto>

@{
    Layout = Context.Request.Headers["HX-Request"] == "true" ? null : "_Layout";
    var isCollapsed = Context.Request.Cookies["Collapsed"] ?? "true";
}

<div class="container reports-container">
    <div class="row">
        <div class="page-header @((isCollapsed == "true") ? "collapsed" : "")">
            <div class="header-main">
                <div class="header-content">
                    <h1><i class="fas fa-users"></i> Mesajlar</h1>
                    @if (User.IsInRole("Admin"))
                    {
                        <p>Stajyerlere gönderilen mesajları görüntüleyin ve yönetin.</p>
                    }
                    else
                    {
                        <p>Mesajlarınızı görüntüleyin.</p>
                    }
                </div>

                <div class="header-actions">
                    @if (User.IsInRole("Admin"))
                    {
                        <a href="/Messages/AddMessage" hx-get="/Messages/AddMessage" hx-target="#content" hx-push-url="true" class="btn btn-user-add">
                            <i class="fa-solid fa-plus"></i>
                            Yeni Mesaj Ekle
                        </a>
                    }
                </div>
            </div>

            <div class="header-toggle-wrapper">
                <button class="btn-toggle-header" hx-on:click="toggleHeaderCollapse(event)" title="Küçült/Genişlet">
                    <i class="fas fa-chevron-up"></i>
                </button>
            </div>
        </div>
    </div>

    <div class="mb-4">
        @if (!Model.Any())
        {
            <div class="row">
                <div class="card card-before d-flex text-center py-5">
                    <div class="card-body">
                        <div class="no-results-icon"><i class="fa-solid fa-xmark"></i></div>
                        <h2 class="no-results-title">Mesaj Bulunamadı</h2>
                        <p class="no-results-text">Henüz bir mesaj gönderilmemiş</p>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="scroll-target"></div>
            <div class="row">
                <div class="view-content active">
                    <partial name="Small/_MessagesListView" />
                </div>
            </div>
        }
    </div>
</div>
